<div class="row">
  <div class="col-md-6">
    <h3><%= @user.email %></h3>
    <h4>My Dress Rentals:</h4>
    <ul>
      <% if @user.rentals.any? %>
        <% @user.rentals.each do |rental| %>
        <li><%= link_to rental.dress.title, rental_path(rental) %></li>
        <% end %>
      <% else %>
        <p>You don't have any rented dresses yet. You should rent one! </p>
      <% end %>
    </ul>
    <% if @user.dresses.any? %>
      <h4>My Dresses:</h4>
      <ul>
        <% @user.dresses[0..(@dresses.size - 1)].each do |dress| %>
          <li>
            <p><strong>Title:</strong><%= link_to dress.title, dress_path(dress) %> <strong>| Description:</strong> <%= dress.description %> <strong>Size:</strong><%= dress.size%> </p>
            <p><%= link_to("Edit", edit_user_dress_path(@user, dress)) %></p>
            <h5>Dress current rentals:</h5>
            <% dress.rentals.each do |rental| %>
            <p><%= link_to rental.start_date, rental_path(rental) %></p>
            <% end %>
             </li>
        <% end %>
      </ul>
    <% else  %>
      <p>You have not created any dresses for rent. You should create one!</p>
    <% end  %>
  </div>
  <div class="col-md-6">

      <h3>Add a new dress for rent:</h3>
      <%= simple_form_for [@user, @dress] do |f| %>
        <%= f.input :title %>
        <%= f.input :category %>
        <%= f.input :description %>
        <%= f.input :size %>
        <%= f.input :heigth %>
        <%= f.input :price %>
        <%= f.button :submit, class: "btn btn-success" %>
      <% end %>

      <br><%= link_to 'Home', home_path, class: 'btn btn-primary' %>

  </div>
</div>
