<h1> Rent The Dress</h1>

<p> You chose the <%= @rental.dress.title.capitalize %> dress </p>
<p> It is yours from <%= @rental.start_date.strftime('%A, %b %d') %> to <%= @rental.end_date.strftime('%A, %b %d') %>. <br> It will be available for pick up anytime between those days.</p>

<p>The total for the dress wil be: <%= @rental.price * (@rental.end_date - @rental.start_date).to_i  %>$</p>

<%= link_to 'Pay', user_path(current_user), class: "btn btn-primary"  %>

