<div class="container form">
  <%= simple_form_for(@dress) do |f| %>
    <%= f.error_notification %>
    <div class="field">
      <%= f.input :category, collection: Dress::CATEGORIES %>
    </div>
    <div class="text-input">
      <%= f.input :title %>
    </div>
    <div class="field">
      <%= f.input :description %>
    </div>
    <div class="field">
      <%= f.input :price %>
    </div>
    <div class="field">
      <%= f.input :heigth %>
    </div>
    <div class="field">
      <%= f.input :size, collection: Dress::SIZES %>
    </div>
    <div class="button">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
