

<div class="advanced_search_container">
  <div class="advanced_search_row">
    <div class="col-md-12">
      <div class="input-group" id="adv-search">
        <input type="text" class="form-control" placeholder="Search for The Dress">
        <div class="input-group-btn">
          <div class="btn-group" role="group" >
            <div class="dropdown dropdow-lg">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
              <div class="dropdown-menu dropdown-menu-right" role = "menu">
              <form class="form-horizontal">
                <label for="filter">Filter by</label>
                <div class="form-group">
                  <label for="Size">Size</label>
                  <select class="form-control">
                    <% Dress::SIZES.each do |size| %>
                    <option value="<%= size %>"><%= size %></option>
                    <% end %>
                  </select>
                </div>
                <div class="form-group">
                  <label for="Category">Category</label>
                  <select class="form-control">
                    <% Dress::CATEGORIES.each do |category| %>
                    <option value="<%= category %>"><%= category %></option>
                    <% end %>
                  </select>
                </div>
                <div class="form-group">
                  <label for="color">Color</label>
                  <input class="form-control" type="text" name="">
                </div>
                <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </form>
            </div>
            </div>
            <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% @dresses.each do |dress| %>
<h2><%= link_to dress.title.capitalize +  ' dress', dress_path(dress) %></h2>
<% end %>



