<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1><%= @dress.title.upcase %></h1>
      <h2>Category: <%= @dress.category %></h2>
      <p>Size: <%= @dress.size %></p>
      <p><%= @dress.description %></p>
      <p>Length <%= @dress.heigth %>cm .</p>
      <p>Price per day: <%= @dress.price %>$ MXN</p>
      <div>
        <h3>What dates do you need it?</h3>
        <%= simple_form_for([@dress, @rental]) do |f| %>
        <%= f.input :start_date, wrapper_html: { class: 'flex-select' }, as: :date, html5: true %>
        <%= f.input :end_date, wrapper_html: { class: 'flex-select' }, as: :date, html5: true %>
        <%= f.submit %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-6">
      <%= cl_image_tag @dress.photo, height: 800 %>
    </div>
  </div>
</div>
