<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1><%= @dress.title.upcase %></h1>
      <h2>Category: <%= @dress.category %></h2>
      <p>Size: <%= @dress.size %></p>
      <p><%= @dress.description %></p>
      <p>Length <%= @dress.heigth %>cm .</p>
      <p>Price per day: <%= @dress.price %>$</p>
      <div>
        <h4>What dates do you need it?</h4>
        <%= simple_form_for([@dress, @rental]) do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.submit %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-6">
      <%= image_tag "card.jpg", height: 800 %>
    </div>
  </div>
</div>
