<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <h1><%= @dress.id %></h1>
      <h1><%= @dress.title %></h1>
      <h2><%= @dress.category %></h2>
      <p><%= @dress.size %></p>
      <p><%= @dress.price %></p>
      <p><%= @dress.description %></p>
    </div>
    <div class="col-xs-6">
      <h4>What dates do you need it?</h4>
      <%= simple_form_for([@dress, @rental]) do |f| %>
      <%= f.input :id %>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.submit %>
    <% end %>
    </div>
  </div>
</div>
